<div class="resource-detail-host">

  <!-- Tab Navigation (Shown only if a custom component exists) -->
  <div *ngIf="hasCustomComponent" class="detail-tabs">
    <button 
      class="tab-btn" 
      [class.active]="activeTab === 'overview'" 
      (click)="setTab('overview')">
      Formatted
    </button>
    <button 
      class="tab-btn" 
      [class.active]="activeTab === 'json'" 
      (click)="setTab('json')">
      JSON
    </button>
  </div>

  <!-- Tab Content -->
  <div class="tab-content">
    
    <!-- has custom component -->
    <ng-container *ngIf="hasCustomComponent">
      <ng-container *ngIf="activeTab === 'overview'">
        <ng-container *ngComponentOutlet="currentComponent; inputs: componentInputs"></ng-container>
      </ng-container>

      <div *ngIf="activeTab === 'json'" class="json-view">
        <pre>{{ resource?.properties | json }}</pre>
      </div>
    </ng-container>

    <!-- no custom component -->
    <div *ngIf="!hasCustomComponent" class="json-view">
      <pre>{{ resource?.properties | json }}</pre>
    </div>

  </div>
</div>